@model TestApp.Models.Film
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Film";
}



<div>
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poster)
        </dt>

        <dd>
            @{ if (Model.Poster != null)
                {
                    var base64 = Convert.ToBase64String(Model.Poster);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                    <img class="card-img-top" src="@imgSrc" alt="Card image cap" style="max-height: 400px">
                }
            }
        </dd>

    </dl>
</div>
<p>
    @{ if (User.Identity.GetUserId() == Model.UserId)
        {
            @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
            <div class="clearfix"></div>
            @Html.ActionLink("Удалить", "Delete", new { id = Model.Id }, new { @class = "btn btn-primary" })

        }
    }   
    @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-primary" })
</p>
